:root {
    --black: #121212;

    --gray_900: #212121;
    --gray_800: #424242;
    --gray_700: #616161;
    --gray_600: #757575;
    --gray_500: #9E9E9E;
    --gray_400: #BDBDBD;
    --gray_300: #E0E0E0;
    --gray_200: #EEEEEE;
    --gray_100: #F5F5F5;
    --gray_50: #FAFAFA;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0 auto;
    height: 100%;
    transform-origin: center;
}

body {
    background-color: var(--gray_900);
}

svg {
    width: 100%;
    transform-box: fill-box;
    background-color: var(--gray_900);
}

text {
    fill: var(--gray_50);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-anchor: middle;
    dominant-baseline: center;
}

#title_one {
    font-size: 65px;
    transform: translate(50%, 50px);
}

#title_two {
    font-size: 40px;
    transform: translate(50%, 80px);
}